
# Google Cloud Service Account Credentials
joy-foods-backend-production/application/config/joi-foods-3e7ecb61da77.json
joy-foods-backend-production/application/config/joi-foods-prod-7b94084f1b9b.json
